/* 所有商品界面 */
/* #region 响应式布局界面 */
@media screen and (min-width:640px) {
  .goods_card {
    height: 120px;
  }
}

@media screen and (max-width:360px) {
  .goods_card {
    height: 65px;
  }
}
/* #endregion */

/*#region listGoods页面样式  */
.listGoods_background {
  height: 100vw;
  background-color: rgb(248, 248, 248);
}

.allGoods_menu {
  /* border: 1px black solid; */
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  max-width: 640px;
  min-width: 360px;
  display: flex;
}
/* #endregion */

/* #region listGoods页面的左侧菜单样式 */
.allGoods_menu_aside {
  width: 25%;
  /* border: 1px black solid; */
}
.van-sidebar {
  width: 100%;
}

.van-sidebar-item__text {
  padding-left: 10%;
  line-height: 80px;
  font-weight: bold;
}

.van-sidebar-item {
  padding: 0;
  margin: 0;
}

.van-sidebar-item--select::before {
  height: 100%;
  width: 2px;
}
.van-sidebar-item--select {
  color: #666;
}
/* #endregion */

/* #region listGoods页面的右侧样式--listpage */
.listpage {
  padding: 2%;
  /* border: 1px red solid; */
  width: 75%;
}

.listpage_title {
  font-size: 14px;
  font-weight: 700;
  color: #666;
  padding-bottom: 10px;
}
/* #endregion */

/* #region listGoods页面的右侧商品卡片样式 */
.goods_card {
  display: flex;
  max-height: 120px;
  min-height: 65px;
  height: 20vw;
  /* border: 1px red solid; */
  width: 10;
  position: relative;
  
}

.goods_card_aside
 {
  /* border: 1px black solid; */
  /* width: 145px; */
  width: 35%;
  height: 100%;
overflow: hidden;
}

.goods_card_aside_img{
  width: 100%;
  height: 100%;
}

.goods_card_artical {
  width: 292px;
  /* border: 1px black solid; */
}

.goods_card_article_title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}

.goods_card_article_detail {
  max-height: 40px;
  font-size: 12px;
  color: #999;
  padding: 5px 10px;
}

.goods_card_article_priceSell {
  /* border: 1px black solid; */
  width: 150px;
  color: red;
  padding: 0 0 0 10px;
  height: 30px;
  display: flex;
}

.goods_card_article_priceSell_price {
  /* border: 1px black solid; */
  display: inline-block;
  width: 110px;
  height: 100%;
}

.icon-tianjia {
  font-size: 24px;
  height: 100%;
  /* border: 1px black solid; */
  display: inline-block;
  cursor: pointer;
}
/* #endregion */

 /* #region 购物车界面样式 */
 .shoppingCart_checkbox{
cursor: pointer;
margin:0 10px;
 }

 .shoppingCartPage_table {
  border-collapse: collapse;
  margin-bottom: 50px;
}

.shoppingCart_table_head {
  border: 1px black solid;
  display: flex;
  line-height: 40px;
}

.shoppingCart_table_head .iconfont {
  font-size: 18px;
  color: #666;
}

.shoppingCart_mabang{
  font-size: 18px;
  color: #666;
}

.shoppingCart_table_edit {
  position: absolute;
  right: 20px;
  color: rgb(43, 93, 231);
  cursor: pointer;
}

.shoppingCartPage_goodsCard {
  display: flex;
  border: 1px black solid;
  height: 100px;
  width: 500px;
}

.shoppingCart-table-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoppingCartPage_goodsCard_img {
  width: 100px;
  height: 100%;
}

.shoppingCartPage_goodsCard_information {
  /* border: 1px red solid; */
  padding: 5px 10px;
  flex: 1;
}

.shoppingCartPage_goodsCard_detail {
  margin-top: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #666;
}

.shoppingCartPage_goodsCard_price {
  font-size: 14px;
  color: #f44;
  height: 20px;
  line-height: 20px;
}

.shoppingCartPage_goodsCard_number {
  border: 1px black solid;
  /* padding: 0 10px; */
  font-size: 14px;
  border-radius: 5px;
  color: #666;
  /* height: 20px; */
  line-height: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
/* #endregion */

/* #region 购物车界面底部结算台 */
.check {
  background-color: #fff;
  border: 1px black solid;
  position: fixed;
  bottom: 0;
  line-height: 50px;
  z-index: 50;
  width: 100%;
  display: flex;
}

.check_text {
  background-color: red;
  color: #fff;
  position: absolute;
  right: 0;
  padding: 0 10px;
  cursor: pointer;
}

.cost {
  font-size: 12px;
  line-height: 20px;
  color: #f60;
  position: absolute;
  right: 90px;
}
/* #endregion */
