/* 所有商品界面 */
/* #region 响应式布局界面 */
@media screen and (min-width:640px) {
  .goods_card {
    height: 120px;
  }
}

@media screen and (max-width:360px) {
  .goods_card {
    height: 65px;
  }
}
/* #endregion */

/* #region listGoods页面样式  */
.listGoods_background {
  height: 100vw;
  background-color: rgb(248, 248, 248);
}

.allGoods_menu {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  max-width: 640px;
  min-width: 360px;
  display: flex;
}
/* #endregion */

/* #region listGoods页面的左侧菜单样式 */
.allGoods_menu_aside {
  width: 25%;
}
.van-sidebar {
  width: 100%;
}

.van-sidebar-item__text {
  padding-left: 10%;
  line-height: 80px;
  font-weight: bold;
}

.van-sidebar-item {
  padding: 0;
  margin: 0;
}

.van-sidebar-item--select::before {
  height: 100%;
  width: 2px;
}
.van-sidebar-item--select {
  color: #666;
}
/* #endregion */

/* #region listGoods页面的右侧样式--listpage */
.listpage {
  padding: 2%;
  width: 75%;
}

.listpage_title {
  font-size: 14px;
  font-weight: 700;
  color: #666;
  padding-bottom: 10px;
}
/* #endregion */

/* #region listGoods页面的右侧商品卡片样式 */
.goods_card {
  display: flex;
  max-height: 120px;
  min-height: 65px;
  height: 20vw;
  width: 10;
  position: relative;
  
}

.goods_card_aside
 {
  /* width: 145px; */
  width: 35%;
  height: 100%;
overflow: hidden;
}

.goods_card_aside_img{
  width: 100%;
  height: 100%;
}

.goods_card_artical {
  width: 292px;
}

.goods_card_article_title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}

.goods_card_article_detail {
  max-height: 40px;
  font-size: 12px;
  color: #999;
  padding: 5px 10px;
}

.goods_card_article_priceSell {
  width: 150px;
  color: red;
  padding: 0 0 0 10px;
  height: 30px;
  display: flex;
}

.goods_card_article_priceSell_price {
  display: inline-block;
  width: 110px;
  height: 100%;
}

.icon-tianjia {
  font-size: 24px;
  height: 100%;
  display: inline-block;
  cursor: pointer;
}
/* #endregion */

/* #region 购物车界面样式 */
 .shoppingCart_checkbox{
cursor: pointer;
margin:0 10px;
 }

 .shoppingCartPage_table {
  border-collapse: collapse;
}

.wrap_table{
  background-color: rgb(248, 248, 248);
  width: 100%;
  margin-bottom: 50px;
  height: 100vw;

}

.shoppingCart_table_head {
  display: flex;
  line-height: 40px;
}

.shoppingCart_table_head .iconfont {
  font-size: 18px;
  color: #666;
}

.shoppingCart_mabang{
  font-size: 18px;
  color: #666;
}

.shoppingCart_table_edit {
  position: absolute;
  right: 20px;
  color: rgb(43, 93, 231);
  cursor: pointer;
}

.shoppingCartPage_goodsCard {
  display: flex;
  height: 100px;
  width: 500px;
}

.shoppingCart-table-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoppingCartPage_goodsCard_img {
  width: 100px;
  height: 100%;
}

.shoppingCartPage_goodsCard_information {
  padding: 5px 10px;
  flex: 1;
}

.shoppingCartPage_goodsCard_detail {
  margin-top: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #666;
}

.shoppingCartPage_goodsCard_price {
  font-size: 14px;
  color: #f44;
  height: 20px;
  line-height: 20px;
}

.shoppingCartPage_goodsCard_number {
  border: 1px black solid;
  /* padding: 0 10px; */
  font-size: 14px;
  border-radius: 5px;
  color: #666;
  /* height: 20px; */
  line-height: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
/* #endregion */

/* #region 购物车界面底部结算台 */
.check {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  line-height: 50px;
  z-index: 50;
  width: 100%;
  display: flex;
}

.check_text {
  background-color: red;
  color: #fff;
  position: absolute;
  right: 0;
  padding: 0 10px;
  cursor: pointer;
}

.cost {
  font-size: 12px;
  line-height: 20px;
  color: #f60;
  position: absolute;
  right: 90px;
}
/* #endregion */

/* #region 提交订单页的样式 */
.order_head {
  width: 100%;
  height: 80px;
  padding: 20px 0px;
}

.order_line {
  height: 2px;
  position: absolute;
  width: 100%;
  background: repeating-linear-gradient(-45deg, #ff6d6d, #ff6d6d 20%, transparent 0, transparent 25%, #3283fa 0, #3283fa 45%, transparent 0, transparent 50%);
  background-size: 80px;
}

.order_table{
  margin-bottom: 150px;
}

.have_margin{
  padding-left: 40px;
  padding-right: 40px;
}

.deliver_methods{
  line-height: 50px;
}

.deliver_methods_text{
  position: absolute;
  right: 40px;
}

.order_mabang{
  line-height: 60px;
  /* height: 80px; */
}

.divider2{
  width: 100%;
height: 10px;
background-color: #ebedf0;
margin: 5px 0;
}

.order_wholePrice{
  margin-top: 30px;
  font-size: 14px;
  height: 100px;
  line-height: 30px;
}

.order_input{
display: block;
width: 100%;
height: 100px;
margin-top: 10px;
border: none;
}

.order_price{
  color: red;
}

.submit_order{
  border: 1px black solid;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  z-index: 200;
}

.submit_order_right{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: absolute;
  right: 10px;
}

.submit_order_text{
  display: inline-block;
  width: 100px;
  text-align: center;
  border-radius: 25px;
  line-height: 40px;
  background:  -webkit-linear-gradient(left,#ff9000,#ff5000 98%);
  padding: 5px 10px;
  margin-left:5px ;
  color: white;
}

/* 提交订单商品卡片额外样式 */
.orderCard{
  background-color: rgb(248, 248, 248);
  width: 100%;
  padding-left: 40px;
  margin-bottom: 2px;
}
/* #endregion */

/* #region shoppingCart.vue样式*/
/* 加入购物车部分的样式 */
.shoppingCart-buy {
  height: 40px;
}

/* 遮罩部分 */
.bottom_menu_hidebox {
  position: fixed;
  /* display: none; */
  /* 需要设置left和top */
  /* left 属性规定元素的左边缘。该属性定义了定位元素左外边距边界与其包含块左边界之间的偏移。 */
  left: 0;
  top: 0%;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.6);
}

.bottom_menu {
  /* display: none; */
  z-index: 100;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
}

.bottom_menu_text1 {
  color: #606266;
  font-size: 14px;
  margin: 10px;
}

.bottom_menu_text2 {
  color: #606266;
  font-size: 14px;
  margin: 20px 10px;
}

.bottom_goodCard {
  display: flex;
}

.bottom_goodCard_img {
  display: inline-block;
  width: 98px;
  height: 80px;
}

.bottom_goodCard_box {
  flex: 1;
}

.bottom_menu_input_number {
  display: inline-block;
}

.icon-guanbi {
  float: right;
  font-size: 22px;
  cursor: pointer;
}

/*  加入购物车 和 立即购买 样式 */
.van-goods-action {
  margin-top: 10px;
  position: relative;
  height: 40px;
}
.van-goods-action-button {
  border-radius: 0;
  margin: 0%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ebedf0;
  margin: 5px 0;
}
/* #endregion */

/* #region 计数器样式*/
.inputNumber_box {
  height: 45px;
  width: 220px;
  border-radius: 5px;
  border: 1px rgb(220, 223, 230) solid;
  display: flex;
  position: relative;
  align-items: center;
  background-color: rgb(245, 247, 250);
  cursor: pointer;
}

.inputNumber_box:hover {
  border: 1px rgb(64, 158, 255) solid;
}

.item1_1:hover,
.item1_2:hover {
  color: rgb(64, 158, 255);
}

.inputNumber_item1 {
  /* border: 1px black solid; */
  text-align: center;
  /* height: 100%; */
  flex: 1;
  font-size: 25px;
  position: relative;
  line-height: 43px;
  user-select: none;
  font-size: 20px;
}

.inputNumber_item2 {
  /* border: 1px rgb(220,223,230) solid; */
  border-left: 1px solid rgb(220, 223, 230);
  border-right: 1px solid rgb(220, 223, 230);
  background-color: #fff;
  position: relative;
  right: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  /* width: 130px;
height: 43px; */
  width: 50%;
  height: 100%;
}

.inputNumber_input {
  border: none;
  text-align: center;
  display: flex;
  right: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  /* width: 100px; */
  /* height: 43px; */
  width: 90%;
  height: 91%;
  font-size: 12px;
}

.disable {
  cursor: not-allowed;
}

.button {
  clear: both;
}
/* #endregion */


